<%- include('../partials/header') -%>
	<% const getErrors = (error, property) => { %>
		<% try { %>
			<% return errors.mapped()[property].msg %>
		<% } catch(err) { %>
				<% return ''; %>
			<% } %>
	<% } %>
	
	    <div>
		      <form method="POST">
		        <input name="email" placeholder="email" />
		        <% if(errors) { %>
		        	<%= getErrors(errors, 'email') %>
		        <% } %>
		        <input name="password" placeholder="password" />
		         <% if(errors) { %>
		        	<%= getErrors(errors, 'password') %>
		        <% } %>
		        <input name="passwordConfirmation" placeholder="password confirmation" />
		        <% if(errors) { %>
		        	<%= getErrors(errors, 'passwordConfirmation') %>
		        <% } %>
		        <button>Sign Up</button>
		      </form>
	    </div>
<%- include('../partials/footer') -%>